@import url("https://fonts.googleapis.com/css?family=Anonymous Pro:400,700|Quicksand:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #222;
  background: #fff;
  overflow-x: hidden; }

img {
  max-width: 100%; }

p {
  margin-block-start: 1.0em;
  margin-block-end: 1.0em;
  line-height: 20px; }

a {
  margin: 0 6px 0 8px;
  color: #006ab5;
  text-decoration: underline transparent; }
  a:hover {
    text-decoration: underline; }
    a:hover::before, a:hover::after {
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s; }
    a:hover::before {
      -webkit-transform: translateX(-14px);
      -moz-transform: translateX(-14px);
      transform: translateX(-14px); }
    a:hover::after {
      -webkit-transform: translateX(4px);
      -moz-transform: translateX(4px);
      transform: translateX(4px); }
  a::before, a::after {
    position: absolute;
    display: inline-block;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s; }
  a::before {
    content: "[";
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px); }
  a::after {
    content: "]";
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px); }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.7em; }

h1, h2, h3, h4, h5, h6 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0; }

main section#list-of-projects .projects-heading {
  padding: 20px 0; }
  main section#list-of-projects .projects-heading h3 {
    font-family: "Anonymous Pro", monospace;
    font-size: 1.0em;
    letter-spacing: 1px;
    display: inline-block; }
main section#list-of-projects .project-container {
  width: 100%; }
  main section#list-of-projects .project-container .project {
    margin: 120px 0;
    position: relative; }
    main section#list-of-projects .project-container .project:first-child {
      margin: 20px 0 120px 0; }
    main section#list-of-projects .project-container .project.project-web .project-thumbnail {
      display: block; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail img {
        border: 1px solid #eee;
        border-radius: 10px; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail .desktop img {
        width: 90%;
        display: inline-block; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail .mobile {
        position: absolute;
        top: 80px;
        right: 0px; }
        main section#list-of-projects .project-container .project.project-web .project-thumbnail .mobile img {
          height: 420px;
          display: inline-block; }
    main section#list-of-projects .project-container .project.project-web .project-details {
      width: 55%;
      margin: 20px 0;
      padding: 20px 80px 20px 20px;
      background: #fff;
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-bottom-left-radius: 7px; }
      main section#list-of-projects .project-container .project.project-web .project-details h4 {
        margin: 0.25em 0 0.75em 0;
        font-family: "Anonymous Pro", monospace;
        font-size: 1.25em;
        line-height: 23px; }
      main section#list-of-projects .project-container .project.project-web .project-details ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 20px; }
        main section#list-of-projects .project-container .project.project-web .project-details ul li {
          display: inline-block; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.project-links li {
          margin: 0 2px; }
          main section#list-of-projects .project-container .project.project-web .project-details ul.project-links li:first-child {
            margin: 0 2px 0 0; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.role {
          margin-bottom: 7px; }
          main section#list-of-projects .project-container .project.project-web .project-details ul.role::before {
            content: "\f0ad"; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.languages::before {
          content: "\f120"; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.role::before, main section#list-of-projects .project-container .project.project-web .project-details ul.languages::before {
          width: 20px;
          margin-right: 2px;
          font-family: FontAwesome;
          display: inline-block; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.role li:not(:last-child)::after, main section#list-of-projects .project-container .project.project-web .project-details ul.languages li:not(:last-child)::after {
          content: ","; }
      main section#list-of-projects .project-container .project.project-web .project-details p.description::after {
        content: "";
        display: block;
        margin: 20px 0;
        position: relative;
        height: 1px;
        width: 90px;
        background: #eee; }

main {
  top: 0;
  width: calc(75% - 103px);
  margin-left: calc(25% + 30px);
  padding: 0 53px 0 0; }
  main section#list-of-projects {
    margin-top: 20px; }
    main section#list-of-projects .projects-heading {
      padding: 0 0 20px 0; }
    main section#list-of-projects .project-container .project:last-child {
      margin: 120px 0 60px 0; }

footer .footer-content .footer-copyright p {
  bottom: 30px;
  position: fixed; }

/*# sourceMappingURL=home.css.map */
