main#projectsPage {
  margin-left: 0;
  width: 100%;
  padding: 0 40px; }
  main#projectsPage section#list-of-projects .projects-heading ul.projects-nav {
    margin: 10px 0 0 -4px;
    padding: 0;
    list-style: none; }
    main#projectsPage section#list-of-projects .projects-heading ul.projects-nav li {
      margin: 0 4px;
      display: inline-block; }
      main#projectsPage section#list-of-projects .projects-heading ul.projects-nav li a:hover {
        cursor: pointer; }
      main#projectsPage section#list-of-projects .projects-heading ul.projects-nav li.show-all {
        display: none; }
  main#projectsPage section#list-of-projects .project-container {
    width: 100%;
    margin: 0 auto; }
    main#projectsPage section#list-of-projects .project-container .project-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main#projectsPage section#list-of-projects .project-container .project-flex .project {
        flex-basis: 48%;
        margin: 20px 0 60px 0; }
        main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail {
          position: relative; }
          main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail .desktop img {
            width: 92.5%; }
          main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail .mobile {
            top: 17%;
            text-align: right;
            width: 100%;
            z-index: 3; }
            main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail .mobile img {
              width: 22%;
              height: auto; }
        main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-details {
          width: 83%;
          padding: 20px 80px 20px 20px; }
          main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-details h4 {
            font-size: 1.15em; }
          main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-details ul,
          main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-details p {
            font-size: 0.9em;
            line-height: 1.45em; }
          main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-details ul.role {
            margin-bottom: 3px; }
          main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-details p.description::before {
            margin: 15px 0;
            width: 70px; }
          main#projectsPage section#list-of-projects .project-container .project-flex .project.project-web .project-details p.description::after {
            margin: 15px 0;
            width: 70px; }

/** Media Queries **/
@media screen and (max-width: 1300px) {
  main#projectsPage section#list-of-projects .project-container .project-flex .project {
    flex-basis: 100%; } }

/*# sourceMappingURL=projects_page.css.map */
