@import url("https://fonts.googleapis.com/css?family=Anonymous Pro|Quicksand:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous Pro|Quicksand:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous Pro|Quicksand:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous Pro|Quicksand:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #222;
  background: #fff;
  overflow-x: hidden; }

p {
  margin-block-start: 1.0em;
  margin-block-end: 1.0em;
  line-height: 20px; }

a {
  color: #328D7C;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.7em; }

h1, h2, h3, h4, h5, h6 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #222;
  background: #fff;
  overflow-x: hidden; }

p {
  margin-block-start: 1.0em;
  margin-block-end: 1.0em;
  line-height: 20px; }

a {
  color: #328D7C;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.7em; }

h1, h2, h3, h4, h5, h6 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0; }

header {
  top: 0;
  left: 0;
  width: calc(100% - 70px);
  padding: 35px 30px 30px 40px; }
  header h1.main-title {
    position: fixed;
    margin: 0.1em 0; }
    header h1.main-title a {
      color: #222; }
      header h1.main-title a:hover {
        text-decoration: none; }
  header ul.roles {
    margin: 25px 0 0 calc(25% + 6px);
    padding: 0;
    position: relative; }
    header ul.roles li {
      margin: 0;
      padding: 0;
      list-style: none; }
      header ul.roles li h2 {
        font-size: 1.5em;
        color: #848484; }
  header nav {
    top: 62px;
    right: 25px;
    position: fixed;
    z-index: 2; }
    header nav button#menu {
      top: 68px;
      right: 30px;
      padding: 0;
      position: fixed;
      color: #ccc;
      border: none;
      font-size: 1.05em; }
    header nav .menu-on-scroll {
      color: #222 !important; }
      header nav .menu-on-scroll:hover {
        cursor: pointer; }
    header nav ul {
      margin: 0 40px 0 0;
      padding: 3px 7px;
      background: white;
      font-size: 1.25em;
      line-height: 1.3em;
      list-style: none; }
      header nav ul li {
        line-height: 24px;
        display: inline-block; }
        header nav ul li:not(:last-child) {
          margin-right: 15px; }
        header nav ul li:last-child {
          margin-right: 7px; }
        header nav ul li a {
          color: #444; }
      header nav ul::after {
        content: "";
        margin-top: -12px;
        right: 18px;
        position: absolute;
        display: block;
        height: 1px;
        background: #ccc;
        width: 30px; }

footer {
  width: calc(25% - 80px);
  bottom: 0;
  left: 0;
  padding: 30px 40px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #222;
  background: #fff;
  overflow-x: hidden; }

p {
  margin-block-start: 1.0em;
  margin-block-end: 1.0em;
  line-height: 20px; }

a {
  color: #328D7C;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.7em; }

h1, h2, h3, h4, h5, h6 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0; }

main section#list-of-projects .projects-heading {
  padding: 20px 0; }
  main section#list-of-projects .projects-heading h3 {
    font-family: "Anonymous Pro", monospace;
    font-size: 1.0em;
    letter-spacing: 1px;
    display: inline-block; }
main section#list-of-projects .project-container {
  width: 100%; }
  main section#list-of-projects .project-container .project {
    margin: 120px 0;
    position: relative; }
    main section#list-of-projects .project-container .project:first-child {
      margin: 20px 0 120px 0; }
    main section#list-of-projects .project-container .project.project-web .project-thumbnail {
      display: block; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail img {
        border: 1px solid #eee;
        border-radius: 10px; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail .desktop img {
        width: 90%;
        display: inline-block; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail .mobile {
        position: absolute;
        top: 80px;
        right: 0px; }
        main section#list-of-projects .project-container .project.project-web .project-thumbnail .mobile img {
          height: 420px;
          display: inline-block; }
    main section#list-of-projects .project-container .project.project-web .project-details {
      width: 55%;
      margin: 20px 0;
      padding: 20px 80px 20px 20px;
      background: #fff;
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-bottom-left-radius: 7px; }
      main section#list-of-projects .project-container .project.project-web .project-details h4 {
        font-family: "Anonymous Pro", monospace;
        font-size: 1.25em;
        margin: 0.25em 0 0.75em 0; }
      main section#list-of-projects .project-container .project.project-web .project-details p:first-child {
        margin-block-start: 0; }
      main section#list-of-projects .project-container .project.project-web .project-details p:last-child {
        margin-block-end: 0; }
      main section#list-of-projects .project-container .project.project-web .project-details p.role::before {
        content: "\f007"; }
      main section#list-of-projects .project-container .project.project-web .project-details p.languages::before {
        content: "\f120"; }
      main section#list-of-projects .project-container .project.project-web .project-details p.role::before, main section#list-of-projects .project-container .project.project-web .project-details p.languages::before {
        width: 20px;
        margin-right: 10px;
        font-family: FontAwesome;
        display: inline-block; }

header h1.main-title {
  position: absolute; }

main {
  top: 0;
  left: 0;
  width: calc(100% - 110px);
  padding: 0 70px 0 40px; }
  main section#list-of-projects .project-container {
    width: 100%;
    margin: 0 auto; }
    main section#list-of-projects .project-container .project-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main section#list-of-projects .project-container .project-flex .project {
        flex-basis: 48%;
        margin: 20px 0 120px 0; }
        main section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail .desktop img {
          width: 90%; }
        main section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail .mobile {
          top: 65px;
          right: 0px; }
          main section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail .mobile img {
            height: 300px; }

/*# sourceMappingURL=projects_page.css.map */
