@import url("https://fonts.googleapis.com/css?family=Anonymous Pro|Quicksand:400,700&display=swap");
header {
  top: 0;
  left: 0;
  width: calc(100% - 70px);
  padding: 35px 30px 30px 40px; }
  header h1.main-title {
    position: fixed;
    margin: 0.1em 0; }
    header h1.main-title a {
      margin: 0;
      color: #222; }
      header h1.main-title a:hover {
        text-decoration: none; }
      header h1.main-title a::before, header h1.main-title a::after {
        content: ""; }
  header ul.roles {
    margin: 25px 0 0 calc(25% + 6px);
    padding: 0;
    position: relative; }
    header ul.roles li {
      margin: 0;
      padding: 0;
      list-style: none; }
      header ul.roles li h2 {
        font-size: 1.5em;
        color: #848484; }
  header nav {
    top: 62px;
    right: 25px;
    position: fixed;
    z-index: 2; }
    header nav button#menu {
      top: 68px;
      right: 30px;
      padding: 0;
      position: fixed;
      color: #ccc;
      border: none;
      font-size: 1.05em; }
    header nav .menu-on-scroll {
      color: #222 !important; }
      header nav .menu-on-scroll:hover {
        cursor: pointer; }
    header nav ul {
      margin: 0 40px 0 0;
      padding: 2px 7px;
      background: white;
      font-size: 1.25em;
      line-height: 1.3em;
      list-style: none;
      border-radius: 5px;
      border: 1px solid transparent; }
      header nav ul li {
        line-height: 24px;
        display: inline-block; }
        header nav ul li:not(:last-child) {
          margin-right: 15px; }
        header nav ul li a {
          margin: 0;
          color: #444; }
          header nav ul li a::before, header nav ul li a::after {
            content: ""; }
      header nav ul::after {
        content: "";
        margin-top: -12px;
        right: 18px;
        position: absolute;
        display: block;
        height: 1px;
        background: #eee;
        width: 23px; }
    header nav .nav-on-click {
      border: 1px solid #eee; }

footer {
  width: calc(100% - 80px);
  bottom: 0;
  left: 0;
  padding: 0 40px 30px 40px; }
  footer .footer-content {
    display: flex;
    flex-wrap: wrap; }
    footer .footer-content .footer-copyright {
      width: calc(25% + 10px); }
    footer .footer-content .footer-on-scroll ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      footer .footer-content .footer-on-scroll ul li {
        margin: 0 5px;
        margin-block-start: 1.0em;
        margin-block-end: 1.0em;
        line-height: 20px;
        display: inline-block; }
        footer .footer-content .footer-on-scroll ul li:first-child {
          margin: 0 5px 0 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #222;
  background: #fff;
  overflow-x: hidden; }

p {
  margin-block-start: 1.0em;
  margin-block-end: 1.0em;
  line-height: 20px; }

a {
  margin: 0 6px 0 8px;
  color: #328D7C;
  text-decoration: underline transparent; }
  a:hover {
    text-decoration: underline; }
    a:hover::before, a:hover::after {
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s; }
    a:hover::before {
      -webkit-transform: translateX(-14px);
      -moz-transform: translateX(-14px);
      transform: translateX(-14px); }
    a:hover::after {
      -webkit-transform: translateX(4px);
      -moz-transform: translateX(4px);
      transform: translateX(4px); }
  a::before, a::after {
    position: absolute;
    display: inline-block;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s; }
  a::before {
    content: "[";
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px); }
  a::after {
    content: "]";
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px); }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.7em; }

h1, h2, h3, h4, h5, h6 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0; }

main section#list-of-projects .projects-heading {
  padding: 20px 0; }
  main section#list-of-projects .projects-heading h3 {
    font-family: "Anonymous Pro", monospace;
    font-size: 1.0em;
    letter-spacing: 1px;
    display: inline-block; }
main section#list-of-projects .project-container {
  width: 100%; }
  main section#list-of-projects .project-container .project {
    margin: 120px 0;
    position: relative; }
    main section#list-of-projects .project-container .project:first-child {
      margin: 20px 0 120px 0; }
    main section#list-of-projects .project-container .project.project-web .project-thumbnail {
      display: block; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail img {
        border: 1px solid #eee;
        border-radius: 10px; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail .desktop img {
        width: 90%;
        display: inline-block; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail .mobile {
        position: absolute;
        top: 80px;
        right: 0px; }
        main section#list-of-projects .project-container .project.project-web .project-thumbnail .mobile img {
          height: 420px;
          display: inline-block; }
    main section#list-of-projects .project-container .project.project-web .project-details {
      width: 55%;
      margin: 20px 0;
      padding: 20px 80px 20px 20px;
      background: #fff;
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-bottom-left-radius: 7px; }
      main section#list-of-projects .project-container .project.project-web .project-details h4 {
        margin: 0.25em 0 0.75em 0;
        font-family: "Anonymous Pro", monospace;
        font-size: 1.25em;
        line-height: 23px; }
      main section#list-of-projects .project-container .project.project-web .project-details ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 20px; }
        main section#list-of-projects .project-container .project.project-web .project-details ul li {
          display: inline-block; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.project-links li {
          margin: 0 2px; }
          main section#list-of-projects .project-container .project.project-web .project-details ul.project-links li:first-child {
            margin: 0 2px 0 0; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.role {
          margin-bottom: 7px; }
          main section#list-of-projects .project-container .project.project-web .project-details ul.role::before {
            content: "\f0ad"; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.languages::before {
          content: "\f120"; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.role::before, main section#list-of-projects .project-container .project.project-web .project-details ul.languages::before {
          width: 20px;
          margin-right: 2px;
          font-family: FontAwesome;
          display: inline-block; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.role li:not(:last-child)::after, main section#list-of-projects .project-container .project.project-web .project-details ul.languages li:not(:last-child)::after {
          content: ","; }
      main section#list-of-projects .project-container .project.project-web .project-details p.description::after {
        content: "";
        display: block;
        margin: 20px 0;
        position: relative;
        height: 1px;
        width: 90px;
        background: #eee; }

header h1.main-title {
  position: absolute; }

main {
  top: 0;
  left: 0;
  width: calc(100% - 110px);
  padding: 0 70px 0 40px; }
  main section#list-of-projects .projects-heading ul.projects-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block; }
    main section#list-of-projects .projects-heading ul.projects-nav li {
      margin: 0 4px;
      display: inline-block; }
  main section#list-of-projects .project-container {
    width: 100%;
    margin: 0 auto; }
    main section#list-of-projects .project-container .project-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      main section#list-of-projects .project-container .project-flex .project {
        flex-basis: 48%;
        margin: 20px 0 60px 0; }
        main section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail .desktop img {
          width: 90%; }
        main section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail .mobile {
          top: 65px;
          right: 0px; }
          main section#list-of-projects .project-container .project-flex .project.project-web .project-thumbnail .mobile img {
            height: 300px; }
        main section#list-of-projects .project-container .project-flex .project.project-web .project-details {
          width: 67%;
          padding: 20px 80px 20px 20px; }
          main section#list-of-projects .project-container .project-flex .project.project-web .project-details h4 {
            font-size: 1.15em; }
          main section#list-of-projects .project-container .project-flex .project.project-web .project-details ul,
          main section#list-of-projects .project-container .project-flex .project.project-web .project-details p {
            font-size: 0.9em;
            line-height: 18px; }
          main section#list-of-projects .project-container .project-flex .project.project-web .project-details ul.role {
            margin-bottom: 3px; }
          main section#list-of-projects .project-container .project-flex .project.project-web .project-details p.description::after {
            margin: 15px 0;
            width: 70px; }

/*# sourceMappingURL=projects_page.css.map */
