@import url("https://fonts.googleapis.com/css?family=Anonymous Pro|Quicksand:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous Pro|Quicksand:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #222;
  background: #fff;
  overflow-x: hidden; }

img {
  max-width: 100%; }

p {
  margin-block-start: 1.0em;
  margin-block-end: 1.0em;
  line-height: 20px; }

a {
  margin: 0 6px 0 8px;
  color: #328D7C;
  text-decoration: underline transparent; }
  a:hover {
    text-decoration: underline; }
    a:hover::before, a:hover::after {
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s; }
    a:hover::before {
      -webkit-transform: translateX(-14px);
      -moz-transform: translateX(-14px);
      transform: translateX(-14px); }
    a:hover::after {
      -webkit-transform: translateX(4px);
      -moz-transform: translateX(4px);
      transform: translateX(4px); }
  a::before, a::after {
    position: absolute;
    display: inline-block;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s; }
  a::before {
    content: "[";
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px); }
  a::after {
    content: "]";
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px); }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.7em; }

h1, h2, h3, h4, h5, h6 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0; }

main section#list-of-projects .projects-heading {
  padding: 20px 0; }
  main section#list-of-projects .projects-heading h3 {
    font-family: "Anonymous Pro", monospace;
    font-size: 1.0em;
    letter-spacing: 1px;
    display: inline-block; }
main section#list-of-projects .project-container {
  width: 100%; }
  main section#list-of-projects .project-container .project {
    margin: 120px 0;
    position: relative; }
    main section#list-of-projects .project-container .project:first-child {
      margin: 20px 0 120px 0; }
    main section#list-of-projects .project-container .project.project-web .project-thumbnail {
      display: block; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail img {
        border: 1px solid #eee;
        border-radius: 10px; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail .desktop img {
        width: 90%;
        display: inline-block; }
      main section#list-of-projects .project-container .project.project-web .project-thumbnail .mobile {
        position: absolute;
        top: 80px;
        right: 0px; }
        main section#list-of-projects .project-container .project.project-web .project-thumbnail .mobile img {
          height: 420px;
          display: inline-block; }
    main section#list-of-projects .project-container .project.project-web .project-details {
      width: 55%;
      margin: 20px 0;
      padding: 20px 80px 20px 20px;
      background: #fff;
      border-bottom: 1px solid #eee;
      border-left: 1px solid #eee;
      border-bottom-left-radius: 7px; }
      main section#list-of-projects .project-container .project.project-web .project-details h4 {
        margin: 0.25em 0 0.75em 0;
        font-family: "Anonymous Pro", monospace;
        font-size: 1.25em;
        line-height: 23px; }
      main section#list-of-projects .project-container .project.project-web .project-details ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 20px; }
        main section#list-of-projects .project-container .project.project-web .project-details ul li {
          display: inline-block; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.project-links li {
          margin: 0 2px; }
          main section#list-of-projects .project-container .project.project-web .project-details ul.project-links li:first-child {
            margin: 0 2px 0 0; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.role {
          margin-bottom: 7px; }
          main section#list-of-projects .project-container .project.project-web .project-details ul.role::before {
            content: "\f0ad"; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.languages::before {
          content: "\f120"; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.role::before, main section#list-of-projects .project-container .project.project-web .project-details ul.languages::before {
          width: 20px;
          margin-right: 2px;
          font-family: FontAwesome;
          display: inline-block; }
        main section#list-of-projects .project-container .project.project-web .project-details ul.role li:not(:last-child)::after, main section#list-of-projects .project-container .project.project-web .project-details ul.languages li:not(:last-child)::after {
          content: ","; }
      main section#list-of-projects .project-container .project.project-web .project-details p.description::after {
        content: "";
        display: block;
        margin: 20px 0;
        position: relative;
        height: 1px;
        width: 90px;
        background: #eee; }

main {
  top: 0;
  width: calc(75% - 103px);
  margin-left: calc(25% + 30px);
  padding: 0 53px 0 0; }
  main section#list-of-projects {
    margin-top: 20px; }
    main section#list-of-projects .projects-heading {
      padding: 0 0 20px 0; }
    main section#list-of-projects .project-container .project:last-child {
      margin: 120px 0 60px 0; }

footer .footer-content .footer-copyright p {
  bottom: 30px;
  position: fixed; }

body {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #222;
  background: #fff;
  overflow-x: hidden; }

img {
  max-width: 100%; }

p {
  margin-block-start: 1.0em;
  margin-block-end: 1.0em;
  line-height: 20px; }

a {
  margin: 0 6px 0 8px;
  color: #328D7C;
  text-decoration: underline transparent; }
  a:hover {
    text-decoration: underline; }
    a:hover::before, a:hover::after {
      -moz-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -o-transition-duration: 0.3s; }
    a:hover::before {
      -webkit-transform: translateX(-14px);
      -moz-transform: translateX(-14px);
      transform: translateX(-14px); }
    a:hover::after {
      -webkit-transform: translateX(4px);
      -moz-transform: translateX(4px);
      transform: translateX(4px); }
  a::before, a::after {
    position: absolute;
    display: inline-block;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s; }
  a::before {
    content: "[";
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px); }
  a::after {
    content: "]";
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px); }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.7em; }

h1, h2, h3, h4, h5, h6 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0; }

header {
  top: 0;
  left: 0;
  width: calc(100% - 70px);
  padding: 30px 30px 30px 40px; }
  header h1.main-title {
    position: fixed;
    margin: 0.1em 0; }
    header h1.main-title a {
      margin: 0;
      color: #222; }
      header h1.main-title a:hover {
        text-decoration: none; }
      header h1.main-title a::before, header h1.main-title a::after {
        content: ""; }
  header .roles {
    margin: 25px 0 0 calc(25% + 6px);
    padding: 0;
    position: relative; }
    header .roles h2 {
      font-size: 1.5em;
      text-transform: lowercase;
      color: #848484; }
  header .hamburger-container {
    top: 0;
    right: 0;
    position: absolute; }
    header .hamburger-container button#hamburger-menu {
      top: 57px;
      right: 28px;
      width: 18px;
      padding: 0;
      border: none;
      position: fixed;
      z-index: 3;
      background: transparent;
      -moz-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s; }
      header .hamburger-container button#hamburger-menu span {
        width: 100%;
        height: 1px;
        background: #222;
        display: block;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        header .hamburger-container button#hamburger-menu span:nth-child(1) {
          margin-top: 0px; }
        header .hamburger-container button#hamburger-menu span:nth-child(2) {
          margin-top: 5px; }
        header .hamburger-container button#hamburger-menu span:nth-child(3) {
          margin-top: -1px; }
        header .hamburger-container button#hamburger-menu span:nth-child(4) {
          margin-top: 5px; }
      header .hamburger-container button#hamburger-menu.open span:nth-child(1) {
        margin-left: 50%;
        width: 0%; }
      header .hamburger-container button#hamburger-menu.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      header .hamburger-container button#hamburger-menu.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      header .hamburger-container button#hamburger-menu.open span:nth-child(4) {
        width: 0%;
        margin-left: 50%; }
      header .hamburger-container button#hamburger-menu:hover {
        cursor: pointer; }
      header .hamburger-container button#hamburger-menu:focus, header .hamburger-container button#hamburger-menu:active {
        outline: none; }
      header .hamburger-container button#hamburger-menu.hamburger-on-click {
        background: #fbfbfb;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s; }
    header .hamburger-container #navigation-menu {
      top: 0;
      right: -280px;
      width: 200px;
      height: calc(100vh - 80px);
      padding: 40px;
      position: fixed;
      background: #fbfbfb;
      font-family: "Quicksand", sans-serif;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      z-index: 2;
      -moz-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s; }
      header .hamburger-container #navigation-menu a {
        margin: 0;
        color: #222; }
        header .hamburger-container #navigation-menu a::before, header .hamburger-container #navigation-menu a::after {
          content: ""; }
      header .hamburger-container #navigation-menu ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        header .hamburger-container #navigation-menu ul.project-tags {
          flex-basis: 100%;
          align-self: center; }
          header .hamburger-container #navigation-menu ul.project-tags::before {
            content: "";
            display: block;
            margin: 0 0 40px 0;
            position: relative;
            height: 1px;
            width: 90px;
            background: #cecece; }
          header .hamburger-container #navigation-menu ul.project-tags::after {
            content: "";
            display: block;
            margin: 40px 0 0 0;
            position: relative;
            height: 1px;
            width: 90px;
            background: #cecece; }
          header .hamburger-container #navigation-menu ul.project-tags p {
            font-size: 0.8em;
            text-transform: uppercase;
            letter-spacing: 2px; }
          header .hamburger-container #navigation-menu ul.project-tags li {
            margin: 5px 0; }
        header .hamburger-container #navigation-menu ul.social {
          flex-basis: 100%;
          align-self: flex-start; }
          header .hamburger-container #navigation-menu ul.social li {
            font-size: 1.15em;
            display: inline-block; }
            header .hamburger-container #navigation-menu ul.social li:not(:first-child) {
              padding-left: 5px; }
      header .hamburger-container #navigation-menu nav {
        flex-basis: 100%;
        align-self: flex-end; }
        header .hamburger-container #navigation-menu nav ul li {
          font-size: 1.35em;
          line-height: 29px;
          display: flex; }
          header .hamburger-container #navigation-menu nav ul li a {
            margin: 0;
            text-decoration: none;
            -moz-transition-duration: 0.3s;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s; }
            header .hamburger-container #navigation-menu nav ul li a:hover {
              text-decoration: none;
              -moz-transition-duration: 0.3s;
              -webkit-transition-duration: 0.3s;
              -o-transition-duration: 0.3s; }
              header .hamburger-container #navigation-menu nav ul li a:hover::after {
                width: 100%;
                -webkit-transform: translateX(0px);
                -moz-transform: translateX(0px);
                transform: translateX(0px); }
            header .hamburger-container #navigation-menu nav ul li a::after {
              content: "";
              display: block;
              position: relative;
              height: 1px;
              width: 0;
              background: #222; }
      header .hamburger-container #navigation-menu.navigation-menu-on-click {
        right: 0;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s; }

footer {
  width: calc(100% - 80px);
  bottom: 0;
  left: 0;
  padding: 0 40px 30px 40px; }
  footer .footer-content {
    display: flex;
    flex-wrap: wrap; }
    footer .footer-content .footer-copyright {
      width: calc(25% + 10px); }
    footer .footer-content .footer-on-scroll {
      width: calc(75% - 33px);
      text-align: right; }
      footer .footer-content .footer-on-scroll ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: right; }
        footer .footer-content .footer-on-scroll ul li {
          margin: 0 5px;
          margin-block-start: 1.0em;
          margin-block-end: 1.0em;
          line-height: 20px;
          display: inline-block; }
          footer .footer-content .footer-on-scroll ul li:first-child {
            margin: 0 5px 0 0; }

main section.about {
  margin-top: 20px;
  min-height: calc(100vh - 219px); }

section.project-page-details {
  margin: 20px 0 60px;
  min-height: calc(100vh - 219px); }
  section.project-page-details h3 {
    margin: 0.7em 0;
    font-family: "Anonymous Pro", monospace;
    font-size: 1.15em;
    letter-spacing: 1px; }
  section.project-page-details img {
    margin: 40px 0; }
  section.project-page-details .project-snippets {
    display: flex;
    flex-wrap: wrap; }
    section.project-page-details .project-snippets p {
      margin: 0.75em 0; }
      section.project-page-details .project-snippets p:first-child {
        flex-basis: 20%; }
      section.project-page-details .project-snippets p:last-child {
        flex-basis: 80%; }
  section.project-page-details .project-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    section.project-page-details .project-column .column-one {
      flex-basis: 40%; }
    section.project-page-details .project-column .column-two {
      margin: calc(40px - 0.5em) 0;
      padding: 0 40px;
      flex-basis: calc(60% - 80px); }

/*# sourceMappingURL=styles.css.map */
