@import url("https://fonts.googleapis.com/css?family=Anonymous Pro|Quicksand:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous Pro|Quicksand:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #222;
  background: #fff;
  overflow-x: hidden; }

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  line-height: 20px; }

a {
  color: #328D7C;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-size: 3.0em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.7em; }

h1, h2, h3, h4, h5, h6 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0; }

header {
  top: 0;
  left: 0;
  width: calc(25% - 40px);
  height: calc(100% - 140px);
  padding: 30px;
  position: fixed; }
  header h1.main-title {
    margin: 0.1em 0; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    header nav ul li a:hover {
      text-decoration: none; }
  header .intro {
    margin-top: 40px; }
    header .intro ul.languages {
      margin: 0;
      padding: 0; }
      header .intro ul.languages li {
        line-height: 20px;
        list-style: none; }
        header .intro ul.languages li::before {
          content: ">";
          margin-right: 5px; }

footer {
  width: calc(25% - 60px);
  bottom: 0;
  left: 0;
  padding: 30px;
  position: fixed; }

main {
  top: 0;
  width: calc(75% - 80px);
  margin-left: calc(25% + 40px);
  padding: 40px; }
  main aside h2 {
    color: #848484;
    display: inline-block; }
    main aside h2:not(:first-child) {
      margin-left: 10px; }
  main #list-of-projects {
    margin-top: 50px; }
    main #list-of-projects .projects-heading {
      padding: 20px 0; }
      main #list-of-projects .projects-heading h3 {
        font-family: "Anonymous Pro", monospace;
        font-size: 1.0em;
        letter-spacing: 1px;
        display: inline-block; }
    main #list-of-projects .project-container {
      width: 90%; }
      main #list-of-projects .project-container .project {
        margin: 120px 0;
        position: relative; }
        main #list-of-projects .project-container .project:first-child {
          margin: 20px 0 120px 0; }
        main #list-of-projects .project-container .project .project-thumbnail {
          display: block; }
          main #list-of-projects .project-container .project .project-thumbnail img {
            border: 1px solid #eee;
            border-radius: 10px; }
          main #list-of-projects .project-container .project .project-thumbnail .desktop img {
            width: 90%;
            display: inline-block; }
          main #list-of-projects .project-container .project .project-thumbnail .mobile {
            position: absolute;
            top: 80px;
            right: 0px; }
            main #list-of-projects .project-container .project .project-thumbnail .mobile img {
              height: 420px;
              display: inline-block; }
        main #list-of-projects .project-container .project .project-details {
          width: 55%;
          margin: 20px 0;
          padding: 20px;
          background: #fff;
          border-bottom: 1px solid #eee;
          border-left: 1px solid #eee;
          border-bottom-left-radius: 7px; }
          main #list-of-projects .project-container .project .project-details h4 {
            font-family: "Anonymous Pro", monospace;
            font-size: 1.25em;
            margin: 0 0 0.75em 0; }
          main #list-of-projects .project-container .project .project-details p:first-child {
            margin-block-start: 0; }
          main #list-of-projects .project-container .project .project-details p:last-child {
            margin-block-end: 0; }

/*# sourceMappingURL=styles.css.map */
