@import url('https://fonts.googleapis.com/css?family=Anonymous Pro:400,700|Quicksand:400,700&display=swap');

$primary: "Quicksand", sans-serif;
$secondary: "Anonymous Pro", monospace;

// $blue: #006ab5;

$purple: #7434E6;
$purple-light: #ded0fb;