footer {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 40px 20px 40px;
    font-family: $secondary;
    font-size: 15px;
    .footer-content {
    	display: flex;
    	flex-wrap: wrap;
        justify-content: space-between;
    	.footer-on-scroll {
    		ul {
    			margin: 0;
    			padding: 0;
    			list-style: none;
                text-align: right;
    			li {
    				margin: 0 5px;
    				margin-block-start: 1.0em;
    				margin-block-end: 1.0em;
    				display: inline-block;
    				&:first-child {
    					margin: 0 5px 0 0;
    				}
    			}
    		}
    	}
    }
}

/** Media Queries **/
@media screen and (max-width: 750px) {
    footer {
        .footer-content {
            justify-content: unset;
            .footer-copyright {
                flex-basis: 100%;
                p {
                    margin-block-start: 0;
                    margin-block-end: 0;
                }
            }
            .footer-on-scroll {
                flex-basis: 100%;
                ul {
                    text-align: left;
                    margin-block-start: 1.0em;
                    margin-block-end: 1.0em;
                    li {
                        margin-block-start: 0;
                        margin-block-end: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: 0 22px 20px;
        .footer-content {
            .footer-on-scroll {
                ul {
                    li {
                        display: block;
                        margin: 5px 0;
                    }
                }
            }
        }
    }
}