@import "_base";

header {
    top: 0;
    left: 0;
    width: calc(100% - 70px);
    padding: 35px 30px 30px 40px;
    h1.main-title {
        position: fixed;
        margin: 0.1em 0;
        a {
            margin: 0;
            color: #222;
            &:hover {
                text-decoration: none;
            }
            &::before,
            &::after {
                content: "";
            }
        }
    }
    .roles {
        margin: 25px 0 0 calc(25% + 6px);
        padding: 0;
        position: relative;
        h2 {
            font-size: 1.5em;
            text-transform: lowercase;
            color: #848484;
        }
    }
    nav {
        top: 62px;
        right: 25px;
        position: fixed;
        z-index: 2;
        button#menu {
            top: 68px;
            right: 30px;
            padding: 0;
            position: fixed;
            color: #ccc;
            border: none;
            font-size: 1.05em;
        }
        .menu-on-scroll {
            color: #222 !important;
            &:hover {
                cursor: pointer;
            }
        }
        ul {
            margin: 0 47px 0 0;
            padding: 2px 7px;
            background: white;
            font-size: 1.25em;
            line-height: 1.3em;
            list-style: none;
            border-radius: 5px;
            border: 1px solid transparent;
            li {
                line-height: 24px;
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 15px;
                }
                a {
                    margin: 0;
                    color: #444;
                    &::before,
                    &::after {
                        content: "";
                    }
                }
            }
            &::after {
                content: "";
                margin-top: -12px;
                right: 18px;
                position: absolute;
                display: block;
                height: 1px;
                background: #eee;
                width: 30px;
            }
        }
        .nav-on-click {
            border: 1px solid #eee;
        }
    }
    #roles-on-scroll {
        width: 210px;
        top: calc(50% - 50px);
        left: calc(25% - 276px);
        position: fixed;
        padding: 10px 10px 10px 30px;
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-bottom-right-radius: 10px;
        display: none;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;
            li {
                font-size: 1.5em;
                font-family: $heading;
                text-transform: lowercase;
                color: #848484;
            }
        }
    }
}