@import "_base";

header {
    top: 0;
    left: 0;
    width: calc(100% - 70px);
    padding: 35px 30px 30px 40px;
    h1.main-title {
        position: fixed;
        margin: 0.1em 0;
        a {
            color: #222;
            &:hover {
                text-decoration: none;
            }
        }
    }
    ul.roles {
        margin: 25px 0 0 calc(25% + 6px);
        padding: 0;
        position: relative;
        li {
            margin: 0;
            padding: 0;
            list-style: none;
            h2 {
                font-size: 1.5em;
                color: #848484;
            }
        }
    }
    nav {
        top: 62px;
        right: 25px;
        position: fixed;
        z-index: 2;
        button#menu {
            top: 68px;
            right: 30px;
            padding: 0;
            position: fixed;
            color: #ccc;
            border: none;
            font-size: 1.05em;
        }
        .menu-on-scroll {
            color: #222 !important;
            &:hover {
                cursor: pointer;
            }
        }
        ul {
            margin: 0 40px 0 0;
            padding: 3px 7px;
            background: white;
            font-size: 1.25em;
            line-height: 1.3em;
            list-style: none;
            li {
                line-height: 24px;
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 15px;
                }
                &:last-child {
                    margin-right: 7px;
                }
                a {
                    color: #444;
                }
            }
            &::after {
                content: "";
                margin-top: -12px;
                right: 18px;
                position: absolute;
                display: block;
                height: 1px;
                background: #ccc;
                width: 30px;
            }
        }
    }
    
}