@import "projects";

main {
    top: 0;
    width: 75%;
    margin-left: 25%;
    padding: 0 100px 0 23px;
    section#list-of-projects {
        .project-container {
            .project {
                &:last-child {
                    margin: 120px 0 60px 0;
                }
            }
        }  
    }
}

footer {
    .footer-content {
        .footer-copyright {
            p {
                bottom: 20px;
                position: fixed;
            }
        }
    }
}