@import "projects";

main {
    top: 0;
    width: calc(75% - 103px);
    margin-left: calc(25% + 30px);
    padding: 0 53px 50px 0;
    section#list-of-projects {
        margin-top: 20px;
        .projects-heading {
            padding: 0 0 20px 0;
        }    
    }
}

footer {
    position: fixed;
}