@import "_fonts";

section.project-page-details {
	margin: 20px 0 60px;
	min-height: calc(100vh - 219px);

	h3 {
		margin: 0.7em 0;
		font-family: $body;
		font-size: 1.15em;
		letter-spacing: 1px;
	}

	img {
		margin: 40px 0;
	}

	.project-snippets {
		display: flex;
		flex-wrap: wrap;
		p {
			margin: 0.75em 0;
			&:first-child {
				flex-basis: 20%;
			}
			&:last-child {
				flex-basis: 80%;
			}
		}
	}

	.project-column {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.column-one {
			flex-basis: 40%;
		}
		.column-two {
			margin: calc(40px - 0.5em) 0;
			padding: 0 40px;
			flex-basis: calc(60% - 80px);
		}
	}
}