@import "_base";
@import "_fonts";
@import "header";
@import "footer";
@import "projects";

header {
	h1.main-title {
		position: absolute;
	}
}

main {
    top: 0;
    left: 0;
    width: calc(100% - 110px);
    padding: 0 70px 0 40px;
    section#list-of-projects {
        .project-container {
            width: 100%;
            margin: 0 auto;
            .project-flex {
            	display: flex;
            	flex-wrap: wrap;
            	justify-content: space-between;
            	.project {
            		flex-basis: 48%;
	                margin: 20px 0 120px 0;
	                &.project-web {
	                    .project-thumbnail {
	                        .desktop {
	                            img {
	                                width: 90%;
	                            }
	                        }
	                        .mobile {
	                            top: 65px;
	                            right: 0px;
	                            img {
	                                height: 300px;
	                            }
	                        }
	                    }
	                }
	            }
            }
        }
    }
}