header {
    .main-title-wrap {
        position: absolute;
    }
}

main {
    section#list-of-projects {
        .projects-heading {
            padding: 25px 0 0;
            h3 {
                width: 100%; // safari
                font-family: $secondary;
                font-size: 15px;
                letter-spacing: 1px;
                display: inline-block;
            }
        }
        .project-container {
            width: 100%;
            .project {
                margin: 120px 0;
                position: relative;
                &:first-child {
                    margin: 20px 0 120px 0;
                }
                .project-details {
                    a.project-type {
                        margin: 10px 0;
                        padding: 0px 7px;
                        font-family: $secondary;
                        font-size: 0.8em;
                        letter-spacing: 1px;
                        text-transform: lowercase;
                        color: black;
                        position: relative;
                        z-index: 2;
                        &::before,
                        &::after {
                            width: 0;
                        }
                        &::after {
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: $purple-light;
                            border-radius: 5px;
                            opacity: 1;
                            position: absolute;
                            display: block;
                            z-index: -1;
                        }
                    }
                    &:hover {
                        a.project-type {
                            &::after {
                                bottom: 1px;
                                left: 22%;
                                width: 55%;
                                height: 90%;
                                border-radius: 40% 60% 60% 120% / 70% 80% 70% 90%;
                            }
                        }
                    }
                }
                &.project-web {
                    .project-thumbnail {
                        display: block;
                        position: relative;
                        img {
                            border: 1px solid $purple-light;
                            border-radius: 10px;
                        }
                        .desktop {
                            img {
                                width: 90%;
                                display: inline-block;
                                @include animate(0.5s);
                            }
                        }
                        .mobile {
                            top: 18%;
                            width: 100%;
                            position: absolute;
                            text-align: right;
                            img {
                                width: 20%;
                                height: auto;
                                display: inline-block;
                                @include animate(0.5s);
                            }
                        }
                    }
                    .project-details {
                        width: 73%;
                        margin: 20px 0 0 1px;
                        padding: 20px 80px 20px 20px;
                        position: relative;
                        background: #fff;
                        border-bottom-left-radius: 6px;
                        display: block;
                        &::after { // creates the border gradient
                            content: "";
                            width: calc(100% + 1px);
                            height: calc(100% + 1px);
                            bottom: -1px;
                            left: -1px;
                            position: absolute;
                            border-bottom-left-radius: 7px;
                            z-index: -1;
                            background: rgba(222,208,251,1);
                            background: -moz-linear-gradient(30deg, rgba(222,208,251,1) 0%, rgba(222,208,251,1) 19%, rgba(222,208,251,1) 23%, rgba(222,208,251,1) 31%, rgba(250,250,250,1) 50%, rgba(250,250,250,1) 100%);
                            background: -webkit-linear-gradient(30deg, rgba(222,208,251,1) 0%, rgba(222,208,251,1) 19%, rgba(222,208,251,1) 23%, rgba(222,208,251,1) 31%, rgba(250,250,250,1) 50%, rgba(250,250,250,1) 100%);
                            background: -o-linear-gradient(30deg, rgba(222,208,251,1) 0%, rgba(222,208,251,1) 19%, rgba(222,208,251,1) 23%, rgba(222,208,251,1) 31%, rgba(250,250,250,1) 50%, rgba(250,250,250,1) 100%);
                            background: -ms-linear-gradient(30deg, rgba(222,208,251,1) 0%, rgba(222,208,251,1) 19%, rgba(222,208,251,1) 23%, rgba(222,208,251,1) 31%, rgba(250,250,250,1) 50%, rgba(250,250,250,1) 100%);
                            background: linear-gradient(30deg, rgba(222,208,251,1) 0%, rgba(222,208,251,1) 19%, rgba(222,208,251,1) 23%, rgba(222,208,251,1) 31%, rgba(250,250,250,1) 50%, rgba(250,250,250,1) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ded0fb', endColorstr='#fafafa', GradientType=1 );
                        }
                        h4 {
                            margin: 1.0em 0 0.3em;
                            // font-family: $body;
                            font-size: 1.25em;
                            line-height: 23px;
                        }
                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            line-height: 20px;
                            li {
                                display: inline-block;
                            }
                            &.project-links {
                                font-family: $secondary;
                                font-size: 15px;
                                li {
                                    margin: 0 2px;
                                    &:first-child {
                                        margin: 0 2px 0 0;
                                    }
                                }
                            }
                        }
                        .role {
                            ul {
                                margin-bottom: 7px;
                                &::before {
                                    content: "\f0ad";
                                }
                            }
                        }
                        .languages {
                            ul {
                                &::before {
                                    content: "\f120";
                                }
                            }
                        }
                        .role,
                        .languages {
                            ul {
                                margin-left: 29px;
                                font-family: $secondary;
                                font-size: 0.9em;
                                line-height: 1.0em;
                                &::before {
                                    margin-left: -29px;
                                    width: 20px;
                                    font-family: FontAwesome;
                                    display: inline-block;
                                }
                                li {
                                    &:not(:last-child) {
                                        &::after {
                                            content: ",";
                                        }
                                    }
                                }
                            }
                        }
                        p.description {
                            &::before {
                                content: "";
                                display: block;
                                margin: 20px 0;
                                position: relative;
                                height: 1px;
                                width: 90px;
                                background: #eee;
                            }
                            &::after {
                                content: "";
                                display: block;
                                margin: 20px 0;
                                position: relative;
                                height: 1px;
                                width: 90px;
                                background: #eee;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    .footer-content {
        .footer-copyright {
            p {
                bottom: 0;
                position: relative;
            }
        }
    }
}

/** Media Queries **/
@media screen and (max-width: 1300px) {
    main {
        section#list-of-projects {
            .project-container {
                .project {
                    &.project-web {
                        display: flex;
                        .project-thumbnail {
                            flex-basis: 65%;
                            .desktop {
                                img {
                                    width: 95%;
                                }
                            }
                            .mobile {
                                top: 17%;
                                width: 100%;
                                text-align: right;
                                img {
                                    width: 22%;
                                    height: auto;
                                }
                            }
                        }
                        .project-details {
                            flex-basis: 35%;
                            align-self: center;
                            margin: 0 0 0 50px;
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    main {
        section#list-of-projects {
            .project-container {
                .project {
                    &.project-web {
                        display: block;
                        .project-details {
                            margin: 20px 0;
                            padding: 20px 80px 20px 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        .main-title-wrap {
            position: relative;
        }
    }
    
    main {
        section#list-of-projects {
            .project-container {
                .project {
                    &.project-web {
                        .project-details {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    main {
        section#list-of-projects {
            .projects-heading {
                h3 {
                    .project-link {
                        margin-left: 26px;
                        display: block;
                    }
                }
            }
            .project-container {
                .project {
                    &.project-web {
                        .project-details {
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}