@import "_fonts";

body {
    margin: 0;
    padding: 0;
    font-family: $body;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #222;
    background: #fff;
    overflow-x: hidden;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    line-height: 20px;
}

a {
    color: #328D7C;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 3.0em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-end: 0;
    margin-block-start: 0;
    font-family: $heading;
    font-weight: 300;
    letter-spacing: 0;
}

header {
    top: 0;
    left: 0;
    width: calc(25% - 40px);
    height: calc(100% - 140px);
    padding: 30px;
    position: fixed;
    h1.main-title {
        margin: 0.1em 0;
    }
    nav {
        display: none;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                padding: 10px 0;
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #ddd;
                }
                span.full-stop {
                    font-size: 30px;
                    line-height: 0;
                }
            }
        }
    }
    .intro {
        margin-top: 40px;
        ul.languages {
            margin: 0;
            padding: 0;
            li {
                line-height: 20px;
                list-style: none;
                &::before {
                    content: ">";
                    margin-right: 5px;
                }
            }
        }
    }
}

main {
    top: 0;
    width: calc(75% - 80px);
    margin-left: calc(25% + 40px);
    padding: 40px;
    aside {
        h2 {
            color: #848484;
            display: inline-block;
            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
    #list-of-projects {
        margin-top: 50px;
        .projects-heading {
            padding: 20px 0;
            h3 {
                display: inline-block;
                background: #444;
                color: #fff;
            }
            a {
                margin-left: 10px;
            }
        }
        .project-container {
            width: 90%;
            .project {
                margin: 120px 0;
                position: relative;
                &:first-child {
                    margin: 0 0 120px 0;
                }
                .project-thumbnail {
                    display: block;
                    img {
                        border: 1px solid #eee;
                        border-radius: 10px;
                    }
                    .desktop {
                        img {
                            width: 90%;
                            display: inline-block;
                        }
                    }
                    .mobile {
                        position: absolute;
                        bottom: -40px;
                        right: 0px;
                        img {
                            height: 420px;
                            display: inline-block;
                        }
                    }
                }
                .project-details {
                    display: none;
                    width: 360px;
                    margin: calc(-25% + 100px) 0 0 calc(100% - 360px);
                    position: relative;
                    padding: 20px;
                    background: #fff;
                    border-top: 1px solid #eee;
                    border-left: 1px solid #eee;
                    z-index: 2;
                    p {
                        &:first-child {
                            margin-block-start: 0;
                        }
                        &:last-child {
                            margin-block-end: 0;
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: calc(25% - 60px);
    bottom: 0;
    left: 0;
    padding: 30px;
    position: fixed;
}